doctype html
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/style.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style.
  body {font-family: 'Noto Sans JP', sans-serif;}
  
// Navigation bar
.nav-top
  .name-top.light-grey
    img(src='/images/logo.png').smallImageMobile
    p Maddie Min
  .nav-bar.black.card
    a.nav-bar-item.button.padding-large.hide-medium.hide-large.right(href='javascript:void(0)' onclick='showFunction()' title='Toggle Navigation Menu')
      i.fa.fa-bars
    a.nav-bar-item.button.padding-large.hide-small(href='#about') ABOUT
    a.nav-bar-item.button.padding-large.hide-small(href='#work') WORK
    a.nav-bar-item.button.padding-large.hide-small(href='#art') ART
    a.nav-bar-item.button.padding-large.hide-small(href='#contact') CONTACT
    //a.padding-large.hover-red.hide-small.right(href='javascript:void(0)')

// Navigation bar on small screens
#navDemo.nav-bar-block.black.hide.hide-medium.hide-medium.nav-top
  a.nav-bar-item.button.padding-small(href='#about' onclick='showFunction()') ABOUT
  a.nav-bar-item.button.padding-small(href='#projects' onclick='showFunction()') WORK
  a.nav-bar-item.button.padding-small(href='#art' onclick='showFunction()') ART
  a.nav-bar-item.button.padding-small(href='#contact' onclick='showFunction()') CONTACT
  a.nav-bar-item.button.padding-small(href='#' onclick='showFunction()') MORE

.content(style='max-width:2000px; margin-top:0px')
  
  // About Section
  #about.container.content.center.slight-grey
    .row.padding-32.padding-10
        .third
          img.round.margin-bottom(src='/images/me1.jpg' alt='Maddie Min').width-80.noMobile
        .third
          img.round.margin-bottom(src='/images/me2.jpg' alt='Maddie Min').width-80
        .third
          img.round(src='/images/me3.jpg' alt='Maddie Min').width-80.noMobile
    h2.wide HI, I'M MADDIE...
    p.center.justify
      | I&apos;m a third year undergraduate at the University of Chicago, majoring in Computer Science and minoring in Media Arts and Design.
      | I currently work at the Computer Science Instructional Laboratory (CSIL), providing on-campus (now virtual) technical support and developing our lab wiki.
      | I'm pursuing a career in software engineering, with a focus in frontend, HCI, and mobile development.
      | In my free time, I like to go on long runs, listen to music, and make art.
  
  // Project Section
  #work.dark-grey
    .container.content.padding-32
      h2.wide.center PROJECTS
      p.opacity.center.subsectionTitle WEB + HCI
      .row
        .half.project-item
          img.hover-opacity(src='/images/windvr.jpg' alt='Me wearing a Vive headset + wind device extension')
          .container.white
            p
              a(href='https://photos.app.goo.gl/94iyBt4vsCkvo1ZY6' target='_blank') VR Wind Haptic Vive Extension
            p.opacity.noMobile Winter 2020
            p
              | This attachment to a Vive headset uses an Arduino Uno and angled fans on each side of the head
              | to produce the sensation of &apos;wind&apos; corresponding to the speed and direction of travel within a Unity racing game.
        .half.project-item
          img.hover-opacity(src='/images/explore-team.jpg' alt='NYT Explore team on presentation day')
          .container.white
            p
              a(href='https://github.com/almadireddy/nyt-explore' target='_blank') NYT Explore
            p.opacity.noMobile Summer 2019
              p
                | A stylized, location-based mapping of all Times coverage on food/dining, music, and art exhibits.
                | Built with Node.js, React, and Go.
      .row
        .half.project-item
          img.hover-opacity(src='/images/soundsnek.png' alt='Soundsnek gameplay')
          .container.white
            p
              a(href='https://youtu.be/vVo9sHLF0ck' target='_blank') SoundSNEK
            p.opacity.noMobile Winter 2020
            p
              | This is an audio-controlled classic snake game.
              | Pitch of the input controls turning, while volume controls game speed.
        .half.project-item
          img.hover-opacity(src='/images/beat-graphic.png' alt='Beat detection demo graphic')
          .container.white
            p
              a(href='') Beat Detector
            p.opacity.noMobile Winter 2020
            p 
              | Detects half, quarter, and eighth notes at a 120 bpm tempo using Google's Teachable Machine.
      p.opacity.center.subsectionTitle MOBILE
      .row
        .third.project-item
          img.hover-opacity(src='/images/stormsupport.png' alt='StormSupport interface for Android')
          .container.white
            p
              b StormSupport for iOS / Android
            p An application that provides flood hazard map data from FEMA combined with mapped, crowdsourced user data, searchable by location.
        .third.project-item
          img.hover-opacity(src='/images/onthedot.png' alt='Two screenshots of the app interface')
          .container.white
            p
              b OnTheDot for Android
            p A daily routine planner app with Google Maps integration and minute-to-minute notifications.
        .third.project-item
          img.hover-opacity(src='/images/viewsnews.png' alt='')
          .container.white
            p
              b ViewsNews for Android
            p A news aggregator that allows the user to mix and compile news articles from different sources, providing multiple viewpoints on each issue of choice.
    #art.ming-blue
      .container.content.padding-32
        h2.wide.center ART
        .row
          .third.art-item
            img.hover-opacity(src='/images/colorpiece1.jpg' alt='')
          .third.art-item
            img.hover-opacity(src='/images/colorpiece2.jpg' alt='')
          .third.art-item
            img.hover-opacity(src='/images/monochrome.jpg' alt='')
        .row
          .third.art-item
            img.hover-opacity(src='/images/purplepiece.jpg' alt='')
          .third.art-item
            img.hover-opacity(src='/images/collage.JPG' alt='')
          .third.art-item
            img.hover-opacity(src='/images/colorwall.jpg' alt='')
        .row
          .half.art-item
            img.hover-opacity(src='/images/vr-art.png' alt='Virtual Reality art')
            p
              a(href='https://madeleinemin8.github.io/Nature-Vacation/' target='_blank') VR Art - Natural Confusion.
            p An immersive piece contrasting natural themes with the warped and engineered lens of virtual reality. Created using P5 and A-Frame for web and Vive.
          .half.art-item
            img.hover-opacity(src='/images/remote-art.png' alt="Art piece modeling remote connectivity")
            p 
              a(href='https://madeleinemin8.github.io/finalproject/' target='_blank') Connect 4,000,000
            p A gamified parody of globalized dependence on remote communication / social media services
    // The Contact Section
    #contact.slight-grey
      .container.content.padding-32
        h2.wide.center CONTACT
        p.opacity.center
          i &quot;Call me, beep me, if you want to reach me!&quot; - Kim Possible
        .row.padding-32.padding-10
          .col.m6.large
            i.fa.fa-map-marker.contact-item
            | Chicago, US
            br
            i.fa.fa-phone.contact-item
            |  Phone: 1(703)6087710
            br
            i.fa.fa-envelope.contact-item 
            |  madeleinemin@uchicago.edu
            br
            img(src='/images/link.png' style='width: 20px') 
            a(href='https://www.linkedin.com/in/madeleine-min' target='_blank' style='margin-left:5%') LinkedIn
            br

  // Footer image
  img.image.greyscale-min(src='/images/chicago1.JPG' style='width:100%')
  
script.
  var myIndex = 0;
  function showFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("show") == -1) {
      x.className += " show";
    } else {
      x.className = x.className.replace(" show", "");
    }
  }
